.nav {
    width: 100vw;
    height: 80px;
    padding: 10px 0p;
    position: fixed;
    background-color: rgba(124, 43, 49, 1);
    display: flex;
}

.nav .container {
    width: calc(min(1300px, 100%));
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    user-select: none;
}

.iconNav {
    height: 100%;
    padding: 15px;
    border-radius: 10px;
}

.iconNav:hover {
    background-color: #fff;
    color: black;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

a {
    text-decoration: none;
    color: #ccc;
}

a.active {
    color: yellow;
}

img {
    height: 100%;
}